@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<ReturnGym.Models.OnlineShopping.Product>
@{
    ViewBag.Title = "Index";
}

<h2 class="text-center" style="text-transform:uppercase;">Latest Products</h2>

<div class="container">
    <a type="button" class="btn btn-default btn-lg pull-right" href="@Url.Action("Create", "Products")">Add Product</a>
</div>
<hr />
<div class="row">
  
    <div style="padding:20px;margin-left:50px;margin-right:50px;">

        <div class="row">
          
            @foreach (var item in Model)
            {
                <div class="col-sm-4 col-lg-4 col-md-4" style="margin-top:120px;">
                    <div class="panel-body">
                        <a href="@Url.Action("Details", "Products", new { id = item.ProductID })">
                            <img src="data:image/png;base64,@Convert.ToBase64String(item.Picture, 0, item.Picture.Length)" class="img-responsive img-thumbnail" style="width: 250px; height: 200px;" alt="" />
                        </a>
                        <div class="caption">
                            <h5>@item.Name</h5>
                            <p>R.@item.Price</p>
                            <p>
                                @if (item.Quantity > 0)
                                {
                                    using (Html.BeginForm("AddToCart", "ShoppingCart", new { productId = item.ProductID, url = "Index" }, FormMethod.Post))
                                    {
                                        <button type="submit" class="btn btn-success pull-right" onclick="myFunction()"><i class="glyphicon glyphicon-shopping-cart"></i></button>
                                    }
                                <p>Available</p>
                            }
                            else
                            {
                                <p>Not Available</p>
                            }
                            </div>
                        </div>
                    </div>
                }
        </div>

    </div>
</div>
<script type="text/javascript" style="color:aqua;">

    function myFunction() {
        alert("Product added to cart!");
    }
</script>
@if (Model.PageCount > 1)
{
    <div class="clear">
        <span>Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount</span>
        <div class="div-pagination">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page, category = ViewBag.category }))
        </div>
    </div>
}