@using ReturnGym.Models
@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<ReturnGym.Models.OnlineShopping.Order>
@{
    ViewBag.Title = "Index";
}
@if (User.IsInRole("Admin"))
{
    <div class="container" style="margin-top:20px;">
        <a type="button" class="btn btn-default btn-lg pull-right" href="@Url.Action("Index", "Admin")" style="margin-right:5px;">Dashboard</a>
    </div>

}
<h2>Order Listing</h2>

<table class="table">
    <tr>
        <th>
            Customer Information
        </th>
        <th>
            OrderDate
        </th>
        <th>
            PaymentType
        </th>
        <th>
            Status
        </th>
        <th>
            Order Details
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.Label("Customer Name : ") @Html.DisplayFor(modelItem => item.CustomerName)<br />
                @Html.Label("Customer Phone : ") @Html.DisplayFor(modelItem => item.CustomerPhone)<br />
                @Html.Label("Customer Email : ")@Html.DisplayFor(modelItem => item.CustomerEmail)<br />
                @Html.Label("Customer Address : ")@Html.DisplayFor(modelItem => item.CustomerAddress)<br />
            </td>
            <td>
                @String.Format("{0:MM/dd/yyyy}", item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.ActionLink("View", "Details", new { id = item.OrderID })
            </td>
        </tr>
    }

</table>
@if (Model.PageCount > 1)
{
    <div class="clear">
        <span>Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount</span>
        <div class="div-pagination">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
        </div>
    </div>
}
