@using ReturnGym.Models.OnlineShopping;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("My Test App", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Our Services<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Orders", "Index", "Orders")</li>
                            <li>@Html.ActionLink("OrderDetails", "Index", "OrderDetails")</li>
                            <li>@Html.ActionLink("Categories", "Index", "Categories")</li>
                            <li>@Html.ActionLink("Products", "Index", "Products")</li>

                        </ul>
                    </li>
                    <li class="dropdown">

                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">Cart<b class="caret"></b></a>
                        <ul class="dropdown-menu">

                            @if (Session["cart"] != null)
                            {
                                foreach (CartItem item in (List<CartItem>)Session["cart"])
                                {

                                    <li style="color:red;margin-left:30px;">
                                        @item.Product.Name (@item.Quantity)
                                    </li>
                                }
                            }
                            <li class="divider"></li>
                            <li><a href="@Url.Action("CheckoutDetails","ShoppingCart")" class="btn btn-success" style="border:solid #111;">Checkout</a></li>
                        </ul>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
